<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServerHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ServerHelper.Properties.Settings>
      <setting name="DataFolder" serializeAs="String">
        <value>Data</value>
      </setting>
      <setting name="GSSSourceFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordBotToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordServerId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SendChartChannelId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SendChartInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsSendChart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsStartAppWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsStartServerWithApp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsStartAppMinimize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value />
      </setting>
      <setting name="RconPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RconPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="IsRconAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerStartFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="RestartUtcTime" serializeAs="String">
        <value />
      </setting>
      <setting name="IsServerAutoRestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsSendRestartMsg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnnounceChannelId" serializeAs="String">
        <value>1056646530561486910</value>
      </setting>
      <setting name="IsStartBotWithApp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsBotAutoRestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogsFolder" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="IsMakeBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerBackupFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RefLTX" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="RefLTY" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RefLBX" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="RefLBY" serializeAs="String">
        <value>13500</value>
      </setting>
      <setting name="RefRTX" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="RefRTY" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RefRBX" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="RefRBY" serializeAs="String">
        <value>13500</value>
      </setting>
      <setting name="MapFilePath" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="MapFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IsResetMapDuringRestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathResetCfgFile" serializeAs="String">
        <value>default</value>
      </setting>
    </ServerHelper.Properties.Settings>
  </userSettings>
</configuration>